.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.project-dropdown-container {
    display: flex;
    align-items: right; 
    gap: 20px;
    margin-bottom: 1rem;
    justify-content: right;
}

.project-dropdown {
    min-width: 250px;
    height: 40px;
}

.dropdown-image {
    width: auto;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
}



.button-container {
    display: flex;
    justify-content: flex-start;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border-radius: 6px;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 20px;
}

    .card .form-container {
        display: flex;
        gap: 10px;
    }

    .card .form-control {
        border-radius: 6px;
        padding: 8px;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    color: #212529;
}

.table-light {
    background-color: #f8f9fa;
    text-align: center;
}

    .table-light th {
        font-weight: bold;
        padding: 12px;
    }

.table tbody tr td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.btn-warning, .btn-danger {
    background: transparent;
    border: none;
}

.text-center {
    text-align: center;
}

.update-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

    .update-btn:hover {
        background-color: #0056b3;
    }

.input-area {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ced4da;
}

.add-btn {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 20px;
}

    .add-btn:hover {
        background-color: darkred;
    }


.delete-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 20px;
}

    .delete-btn:hover {
        background-color: #c82333;
    }